In [1]:
a = 5
b = 10

a, b = b, a

print("After swapping: a =", a, "b =", b)

After swapping: a = 10 b = 5

In [2]:
num = int(input("Enter an integer: "))

if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

Enter an integer: 25
25 is odd.

In [3]:
def reverse_string(input_str):
    return input_str[::-1]

original_str = "Hello, World!"
reversed_str = reverse_string(original_str)

print("Original string:", original_str)
print("Reversed string:", reversed_str)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

In [4]:
integer_list = [1, 2, 3, 4, 5]

string_list = list(map(str, integer_list))

print("Original list:", integer_list)
print("Converted list:", string_list)

Original list: [1, 2, 3, 4, 5]
Converted list: ['1', '2', '3', '4', '5']

In [5]:
celsius_temperature = float(input("Enter temperature in Celsius: "))

fahrenheit_temperature = (celsius_temperature * 9/5) + 32

print("Temperature in Fahrenheit:", fahrenheit_temperature)

Enter temperature in Celsius: 98
Temperature in Fahrenheit: 208.4

In [6]:
def check_data_type(variable):
    return type(variable).__name__

variable_to_check = 10.5

data_type = check_data_type(variable_to_check)

print("Data type of the variable:", data_type)

Data type of the variable: float

In [7]:
def is_palindrome(input_str):
    return input_str == input_str[::-1]

test_str = "radar"

if is_palindrome(test_str):
    print(test_str, "is a palindrome.")
else:
    print(test_str, "is not a palindrome.")

radar is a palindrome.

In [8]:
def reverse_string_with_slicing(input_str):
    return input_str[::-1]

original_str = "Python is fun!"
reversed_str = reverse_string_with_slicing(original_str)

print("Original string:", original_str)
print("Reversed string:", reversed_str)

Original string: Python is fun!
Reversed string: !nuf si nohtyP

In [9]:
string1 = "Hello"
string2 = "World"

concatenated_string = ''.join([string1, string2])

print("Concatenated string:", concatenated_string)

Concatenated string: HelloWorld

In [10]:
a = '100'
b = 25
c = '10.5'

result = int(a) + b
result -= float(c)
result = str(result) + " is the answer."

print(result)

114.5 is the answer.

In [14]:
number = float(input("Enter a number: "))

if number > 0:
    print("Positive number")
elif number < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 25
Positive number

In [16]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

largest = max(num1, num2, num3)

print("The largest number is:", largest)

Enter the first number: 14
Enter the second number: 25
Enter the third number: 75
The largest number is: 75.0

In [18]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year: "))

if is_leap_year(year):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2016
2016 is a leap year.

In [19]:
percentage = float(input("Enter student's percentage: "))

if percentage >= 90:
    print("Grade: A+")
elif 80 <= percentage < 90:
    print("Grade: A")
elif 70 <= percentage < 80:
    print("Grade: B")
elif 60 <= percentage < 70:
    print("Grade: C")
else:
    print("Fail")

Enter student's percentage: 75
Grade: B

In [20]:
char = input("Enter a character: ")

if char.lower() in ['a', 'e', 'i', 'o', 'u']:
    print(char, "is a vowel.")
else:
    print(char, "is a consonant.")

Enter a character: I
I is a vowel.

In [21]:
hours = int(input("Enter the time in hours (24-hour format): "))

if 0 <= hours < 12:
    print("Good Morning")
elif 12 <= hours < 17:
    print("Good Afternoon")
elif 17 <= hours < 20:
    print("Good Evening")
else:
    print("Good Night")

Enter the time in hours (24-hour format): 15
Good Afternoon

In [22]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))
if a == b == c:
    print("Equilateral triangle")
elif a == b or b == c or c == a:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Enter side a: 5
Enter side b: 10
Enter side c: 25
Scalene triangle

In [23]:
import cmath
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))
d = (b**2) - (4*a*c)
root1 = (-b-cmath.sqrt(d))/(2*a)
root2 = (-b+cmath.sqrt(d))/(2*a)
if d > 0:
    print("Real and distinct roots")
    print("Root 1:", root1)
    print("Root 2:", root2)
elif d == 0:
    print("Real and equal roots")
    print("Root 1:", root1)
    print("Root 2:", root2)
else:
    print("Complex roots")
    print("Root 1:", root1)
    print("Root 2:", root2)

Enter coefficient a: 25
Enter coefficient b: 20
Enter coefficient c: 35
Complex roots
Root 1: (-0.4-1.1135528725660044j)
Root 2: (-0.4+1.1135528725660044j)

In [24]:
num = int(input("Enter a number: "))
if num >= 0 and num <= 50:
    print(num, "falls between 0 and 50")
elif num >= 51 and num <= 100:
    print(num, "falls between 51 and 100")
elif num >= 101 and num <= 150:
    print(num, "falls between 101 and 150")
else:
    print(num, "is greater than 150")

Enter a number: 75
75 falls between 51 and 100

In [25]:
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
    sum += i
print("Sum of first", n, "natural numbers is", sum)

Enter a number: 32
Sum of first 32 natural numbers is 528

In [26]:
n = int(input("Enter a number: "))
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("Factorial is", fact)

Enter a number: 20
Factorial is 2432902008176640000

In [27]:
def print_multiplication_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number*i}")

print_multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
def count_digits(number):
    count = 0
    while number > 0:
        number //= 10
        count += 1
    return count

number = 12345
digit_count = count_digits(number)
print(f"The number of digits in {number} is: {digit_count}")

The number of digits in 12345 is: 5

In [29]:
def generate_fibonacci_sequence(limit):
    fib_sequence = [0, 1]
    while fib_sequence[-1] + fib_sequence[-2] <= limit:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

limit = 50
fibonacci_sequence = generate_fibonacci_sequence(limit)
print("Fibonacci sequence up to", limit, ":", fibonacci_sequence)

Fibonacci sequence up to 50 : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [31]:
def sum_of_even_numbers(N):
    sum_even = 0
    i = 2
    while i <= N:
        sum_even += i
        i += 2
    return sum_even

N = int(input("Enter a number (N): "))
result = sum_of_even_numbers(N)
print(f"The sum of even numbers up to {N} is: {result}")

Enter a number (N): 1010
The sum of even numbers up to 1010 is: 255530

In [32]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

for i in range(5, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

for i in range(1, 6):
    for j in range(5-i):
        print(" ", end="")
    for j in range(i*2-1):
        print("*", end="")
    print()
for i in range(4, 0, -1):
    for j in range(5-i):
        print(" ", end="")
    for j in range(i*2-1):
        print("*", end="")
    print()

*
**
***
****
*****
*****
****
***
**
*
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [34]:
num = int(input("Enter a number: "))
if num > 1:
    i = 2
    while i <= num//2:
        if num % i == 0:
            print(num, "is not a prime number")
            break
        i += 1
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 5
5 is a prime number

In [35]:
int_list = [1, 2, 3, 4, 5]
sum = 0
max = int_list[0]
min = int_list[0]
for i in int_list:
    sum += i
    if i > max:
        max = i
    if i < min:
        min = i
avg = sum/len(int_list)
print("Sum:", sum)
print("Average:", avg)
print("Maximum:", max)
print("Minimum:", min)

Sum: 15
Average: 3.0
Maximum: 5
Minimum: 1

In [36]:
string = "Hello, World!"
reverse_string = ""
i = len(string) - 1
while i >= 0:
    reverse_string += string[i]
    i -= 1
print(reverse_string)

!dlroW ,olleH

In [37]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i*j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [38]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [39]:
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        for k in range(len(matrix2)):
            result[i][j] += matrix1[i][k] * matrix2[k][j]
for row in result:
    print(row)

[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [40]:
for i in range(8):
    for j in range(8):
        if (i+j) % 2 == 0:
            print("X", end="")
        else:
            print("O", end="")
    print()

XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX

In [52]:
int_list = [1, 2, 3, 4, 5]
sum = 0
for i in int_list:
    sum += i
print("Sum:", sum)

Sum: 15

In [54]:
def sort_list(lst):
    return sorted(lst)

numbers = [30, 10, 20, 50, 40]
sorted_numbers = sort_list(numbers)
print("Sorted list:", sorted_numbers)

Sorted list: [10, 20, 30, 40, 50]

In [55]:
def filter_even_numbers(lst):
    return [num for num in lst if num % 2 == 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter_even_numbers(numbers)
print("List with only even numbers:", even_numbers)

List with only even numbers: [2, 4, 6, 8, 10]

In [56]:
def reverse_list(lst):
    return lst[::-1]

numbers = [10, 20, 30, 40, 50]
reversed_numbers = reverse_list(numbers)
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

In [57]:
def common_elements(list1, list2):
    return list(set(list1) & set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements_list = common_elements(list1, list2)
print("Common elements in both lists:", common_elements_list)

Common elements in both lists: [3, 4, 5]

In [58]:
int_list = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
count = 0
for i in int_list:
    if i == 3:
        count += 1
print("Count of 3 in the list is", count)

Count of 3 in the list is 2

In [59]:
int_list = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
new_list = []
for i in int_list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5]

In [60]:
int_list = [1, 2, 3, 4, 5]
squares_list = [i**2 for i in int_list]
print(squares_list)

[1, 4, 9, 16, 25]

In [61]:
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        result[i][j] = matrix1[i][j] + matrix2[i][j]
for row in result:
    print(row)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [62]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []
for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
freq_dict = {}
for sublist in nested_list:
    for item in sublist:
        if item in freq_dict:
            freq_dict[item] += 1
        else:
            freq_dict[item] = 1
print(freq_dict)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

In [64]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        transpose[j][i] = matrix[i][j]
for row in transpose:
    print(row)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [65]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []
for sublist in nested_list:
    flat_list += sublist
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

In [67]:
tuple1 = (1, 2, 3)
x, y, z = tuple1
print(x)
print(y)
print(z)

1
2
3

In [68]:
tuple1 = (3, 2, 1, 4, 5)
sorted_tuple = tuple(sorted(tuple1))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [69]:
tuple1 = (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
count = tuple1.count(3)
print("Count of 3 in the tuple is", count)

Count of 3 in the tuple is 2

In [70]:
tuple1 = (1, 2, 3, 4, 5)
list1 = list(tuple1)
print(list1)

[1, 2, 3, 4, 5]

In [71]:
tuple1 = (1, 2, 3, 4, 5)
reverse_tuple = tuple1[::-1]
print(reverse_tuple)

(5, 4, 3, 2, 1)

In [72]:
tuple1 = (1, 2, 3, 4, 5)
slice_tuple = tuple1[1:4]
print(slice_tuple)

(2, 3, 4)

In [74]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

add_tuple = tuple(map(sum, zip(tuple1, tuple2)))
sub_tuple = tuple(map(lambda x, y: x - y, tuple1, tuple2))
mul_tuple = tuple(map(lambda x, y: x * y, tuple1, tuple2))

print("Element-wise addition:", add_tuple)
print("Element-wise subtraction:", sub_tuple)
print("Element-wise multiplication:", mul_tuple)

TypeError: 'int' object is not callable

In [75]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Rename 'sum' to avoid conflict with the built-in function
my_sum = sum

add_tuple = tuple(map(my_sum, zip(tuple1, tuple2)))
sub_tuple = tuple(map(lambda x, y: x - y, tuple1, tuple2))
mul_tuple = tuple(map(lambda x, y: x * y, tuple1, tuple2))

print("Element-wise addition:", add_tuple)
print("Element-wise subtraction:", sub_tuple)
print("Element-wise multiplication:", mul_tuple)

TypeError: 'int' object is not callable

In [1]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

my_sum_function = sum

add_tuple = tuple(map(my_sum_function, zip(tuple1, tuple2)))
sub_tuple = tuple(map(lambda x, y: x - y, tuple1, tuple2))
mul_tuple = tuple(map(lambda x, y: x * y, tuple1, tuple2))

print("Element-wise addition:", add_tuple)
print("Element-wise subtraction:", sub_tuple)
print("Element-wise multiplication:", mul_tuple)

Element-wise addition: (5, 7, 9)
Element-wise subtraction: (-3, -3, -3)
Element-wise multiplication: (4, 10, 18)

In [2]:
tuple1 = (1, 2, 3, 4, 5)
if 3 in tuple1:
    print("3 exists in the tuple")
else:
    print("3 does not exist in the tuple")

3 exists in the tuple

In [3]:
x = 1
y = 2
z = 3
tuple1 = (x, y, z)
print(tuple1)

(1, 2, 3)

In [4]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[1][2])

6

In [5]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []
for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9], [10]]
sorted_list = sorted(nested_list, key=len)
print(sorted_list)

[[10], [4, 5], [1, 2, 3], [6, 7, 8, 9]]

In [7]:
nested_list = [(1, 2), (3, 4), (5, 6)]
x_list = [item[0] for item in nested_list]
y_list = [item[1] for item in nested_list]
print(x_list)
print(y_list)

[1, 3, 5]
[2, 4, 6]

In [9]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        transpose[j][i] = matrix[i][j]
for row in transpose:
    print(row)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [10]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []
for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
count = 0
for sublist in nested_list:
    for item in sublist:
        if item % 2 == 0:
            count += 1
print(count)

4

In [12]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
max_element = float('-inf')
for sublist in nested_list:
    for item in sublist:
        if item > max_element:
            max_element = item
print(max_element)

9

In [13]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_diagonal = 0
for i in range(len(matrix)):
    sum_diagonal += matrix[i][i]
print(sum_diagonal)

15

In [14]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
element = 5
for i in range(len(nested_list)):
    for j in range(len(nested_list[0])):
        if nested_list[i][j] == element:
            print("Element found at row", i, "and column", j)

Element found at row 1 and column 1

In [15]:
list1 = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
unique_set = set(list1)
print(unique_set)

{1, 2, 3, 4, 5}

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
print(intersection)

{4, 5}

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference = set1.difference(set2)
print(difference)

{1, 2, 3}

In [19]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
symmetric_difference = set_a.symmetric_difference(set_b)
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

In [20]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
set_c = {3, 4, 5, 6, 7}
intersection = set_a.intersection(set_b)
union = set_b.union(set_c)
difference = set_c.difference(set_a)
print(intersection)
print(union)
print(difference)

{4, 5}
{3, 4, 5, 6, 7, 8}
{6, 7}

In [21]:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
if set_a.issubset(set_b):
    print("Set A is a subset of set B")
else:
    print("Set A is not a subset of set B")

Set A is a subset of set B

In [22]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}
if set_a.issuperset(set_b):
    print("Set A is a superset of set B")
else:
    print("Set A is not a superset of set B")

Set A is a superset of set B

In [23]:
set1 = {1, 2, 3, 4, 5}
print(len(set1))

5

In [24]:
set1 = {1, 2, 3, 4, 5}
element = 3
if element in set1:
    print("Found")
else:
    print("Not Found")

Found

In [27]:
students = {"Imran": 85, "Nafiz": 90, "Ujjal": 80}
students["Jihad"] = 95
students["Shumon"] = 92
print(students)

{'Imran': 85, 'Nafiz': 90, 'Ujjal': 80, 'Jihad': 95, 'Shumon': 92}

In [28]:
students = {"Imran": 85, "Jihad": 90, "Ujjal": 80}
for key in students:
    print(key)
    print(students[key])

Imran
85
Jihad
90
Ujjal
80

In [29]:
students = {"Imran": 85, "Nafiz": 90, "Shumon": 80}
print(len(students))

3

In [30]:
items = {"apple": 0.5, "banana": 0.25, "orange": 0.75}
price = 0.25
for key in items:
    if items[key] == price:
        print(key)

banana

In [31]:
dict1 = {"Imran": 85, "Shahin": 90}
dict2 = {"Nafiz": 80, "Shumon": 95}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'Imran': 85, 'Shahin': 90, 'Nafiz': 80, 'Shumon': 95}

In [12]:
items = {"apple": 5, "banana": 3, "orange": 2}
key = input("Enter the key to remove: ")
if key in items:
    del items[key]
print(items)

Enter the key to remove: apple
{'banana': 3, 'orange': 2}

In [2]:
students = {"Imran": 20, "Nafiz": 18, "Sifat": 22}
sorted_students = dict(sorted(students.items(), key=lambda item: item[1]))
print(sorted_students)

{'Nafiz': 18, 'Imran': 20, 'Sifat': 22}

In [3]:
string = "hello world"
freq_dict = {}
for char in string:
    if char in freq_dict:
        freq_dict[char] += 1
    else:
        freq_dict[char] = 1
print(freq_dict)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [4]:
int_list = [1, 2, 3, 4, 5]
squares_dict = {i: i**2 for i in int_list}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [11]:
items = {"apple": 5, "banana": 3, "orange": 2}
key = input("Enter the key to check: ")
if key in items:
    print("Key Found")
else:
    print("Key Not Found")

Enter the key to check: apple
Key Found

In [14]:
students = {"Imran": {"age": 20, "address": "123 Main St"}, "Nafiz": {"age": 18, "address": "456 R.K Mission Road"}}
print(students["Imran"]["age"])
print(students["Nafiz"]["address"])

20
456 R.K Mission Road

In [15]:
students = {"Imran": {"age": 20, "address": "123 Main St"}, "Shahin": {"age": 18, "address": "256 R.K Mission Road"}}
count = 0
for key in students:
    count += len(students[key])
print(count)

4

In [2]:
employees = {"001": {"name": "Imran", "salary": 5000}, "002": {"name": "Kuddus", "salary": 6000}}
id = input("Enter the employee ID: ")
if id in employees:
    salary = int(input("Enter the new salary: "))
    employees[id]["salary"] = salary
print(employees)

Enter the employee ID: 001
Enter the new salary: 5000
{'001': {'name': 'Imran', 'salary': 5000}, '002': {'name': 'Kuddus', 'salary': 6000}}

In [3]:
products = {"apple": {"price": 0.5, "quantity": 10}, "banana": {"price": 0.25, "quantity": 20}, "orange": {"price": 0.75, "quantity": 5}}
sorted_products = {k: v for k, v in sorted(products.items(), key=lambda item: item[1]["price"])}
print(sorted_products)

{'banana': {'price': 0.25, 'quantity': 20}, 'apple': {'price': 0.5, 'quantity': 10}, 'orange': {'price': 0.75, 'quantity': 5}}

In [2]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 7
7 is a prime number

In [3]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [4]:
while True:
    password = input("Enter a password: ")
    if len(password) < 8:
        print("Password must be at least 8 characters long")
        continue
    if not any(char.isupper() for char in password):
        print("Password must contain at least one uppercase letter")
        continue
    if not any(char.islower() for char in password):
        print("Password must contain at least one lowercase letter")
        continue
    if not any(char.isdigit() for char in password):
        print("Password must contain at least one digit")
        continue
    print("Password accepted")
    break

Enter a password: Codebreak13
Password accepted

In [5]:
for i in range(1, 51):
    if i % 3 != 0 and i % 5 != 0:
        continue
    print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

In [1]:
word = input("Enter a word: ")
if len(word) < 3:
    print("Word is too short")
    exit()
if word == word[::-1]:
    print("Word is a palindrome")
else:
    print("Word is not a palindrome")

Enter a word: Write
Word is not a palindrome

In [2]:
int_list = [2, 4, 6, 7, 8, 10]
for i in int_list:
    if i % 2 != 0:
        print(i)
        break

7

In [1]:
import random
number = random.randint(1, 100)
while True:
    guess = int(input("Guess a number between 1 and 100: "))
    if guess == number:
        print("Correct!")
        break
    elif guess < number:
        print("Too low, try again")
        continue
    else:
        print("Too high, try again")
        continue

Guess a number between 1 and 100: 55
Too low, try again
Guess a number between 1 and 100: 48
Too low, try again
Guess a number between 1 and 100: 75
Too high, try again
Guess a number between 1 and 100: 65
Correct!

In [2]:
string = input("Enter a string: ")
count = 0
for char in string:
    if char.lower() not in "aeiou":
        continue
    count += 1
print("Number of vowels:", count)

Enter a string: Linked List
Number of vowels: 3

In [4]:
string = input("Enter a string: ")
unique = True
for i in range(len(string)):
    if string[i] in string[i+1:]:
        unique = False
        break
if unique:
    print("All characters are unique")
else:
    print("Characters are not unique")

Enter a string: Distance
All characters are unique

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [6]:
def is_palindrome(string):
    return string == string[::-1]

print(is_palindrome("racecar"))

True

In [7]:
def even_or_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(even_or_odd(5))

Odd

In [8]:
def list_sum(int_list):
    return sum(int_list)

print(list_sum([1, 2, 3]))

6

In [9]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

print(gcd(12, 18))

6

In [10]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

print(is_leap_year(2024))

True

In [11]:
def math_operations(num1, num2, num3, operation):
    def add():
        return num1 + num2 + num3
    def subtract():
        return num1 - num2 - num3
    def multiply():
        return num1 * num2 * num3
    def divide():
        return num1 / num2 / num3
    if operation == "add":
        return add()
    elif operation == "subtract":
        return subtract()
    elif operation == "multiply":
        return multiply()
    elif operation == "divide":
        return divide()
    else:
        return "Invalid operation"

print(math_operations(2, 3, 4, "multiply"))

24

In [12]:
def greeting_generator(name):
    def hello():
        return "Hello"
    def how_are_you():
        return "How are you today?"
    return f"{hello()}, {name}! {how_are_you()}"

print(greeting_generator("John"))

Hello, John! How are you today?

In [13]:
def temperature_converter(temp, scale):
    def celsius_to_fahrenheit(temp):
        return (temp * 9/5) + 32
    def fahrenheit_to_celsius(temp):
        return (temp - 32) * 5/9
    if scale == "C":
        return fahrenheit_to_celsius(temp)
    elif scale == "F":
        return celsius_to_fahrenheit(temp)
    else:
        return "Invalid scale"

print(temperature_converter(100, "C"))

37.77777777777778

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [15]:
def Fibonacci(n):
    if n <= 1:
        return n
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)

print(Fibonacci(10))

55

In [16]:
def sum_of_digits(n):
    if n < 10:
        return n
    else:
        return n % 10 + sum_of_digits(n // 10)

print(sum_of_digits(12345))

15

In [17]:
def binary_search(arr, low, high, x):
    if high >= low:
        mid = (high + low) // 2
        if arr[mid] == x:
            return mid
        elif arr[mid] > x:
            return binary_search(arr, low, mid-1, x)
        else:
            return binary_search(arr, mid+1, high, x)
    else:
        return -1

arr = [2, 3, 4, 10, 40]
x = 10
result = binary_search(arr, 0, len(arr)-1, x)
if result != -1:
    print(f"Element is present at index {result}")
else:
    print("Element is not present in array")

Element is present at index 3

In [18]:
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent-1)

print(power(2, 3))

8